@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin  text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 30px;
}
@import 'nullstyle';
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1280px; 
}
//nav
nav{
    padding: 15px;
    .logo{
        .logo-image{
            width: 100px;
        }
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
//select
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:20px;
            @include text;
            select{
                background-color: #fff;
                position: relative;
                border: 0;
                border-bottom: 2px solid rgba($color: #1E2E4E, $alpha: 0);
                transition: all 0.5s;
                option{
                    background-color: #fff;
                }
                
            }
            select:hover{
                cursor: pointer;
                border-bottom: 2px solid rgba($color: #1E2E4E, $alpha: 1);

            }
            select:focus{
                outline: none;
            }
//sign up, log in
            .signup{
                @include text;
                border: 2px solid rgba($color: #1E2E4E, $alpha: 0);
                background-color: #fff;
                padding: 8px 20px;
                border-radius: 35px;
                color:#000;
                text-decoration: none;
                transition: all 0.5s;
            }
            .signup:hover{
                border: 2px solid rgba($color: #1E2E4E, $alpha: 1);
                background-color:#f4f3f3; 
            }
            .login{
                @include text;
                border: 2px solid rgba($color: #1E2E4E, $alpha: 1);
                background-color: #fff;
                padding: 8px 20px;
                border-radius: 35px;
                color:#000;
                text-decoration: none;
                transition: all 0.5s;
            }
            .login:hover{
                background-color: #1E2E4E;
                color:#fff;
            }
            
        }
//links to site
        ul{
            gap:20px;
            display: flex;
            li{
                list-style-type: none;
                a{
                    padding: 8px 20px;
                    text-decoration: none;
                    color:#000;
                    @include text;
                    transition: all 0.5s;
                    border: 2px solid rgba($color: #1E2E4E, $alpha: 0);
                    border-radius: 20px;
                }
                a:hover{
                    border: 2px solid  #1E2E4E;
                    background-color:#f4f3f3; 
                }
            }
        }
        
    }
}

//header
header{
    background-color: #fff;
    .header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
//header-left
    .header-left{
        h1{
            @include text;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 54px;
            p{
                font-weight: 800;
            }
        }
        .description{
            @include text;
            font-weight: 500;
            line-height: 24px;
        }
        //card link
        .learn-more{
            @include text;
            text-decoration: none;
            color:#fff;
            div{
                margin-top: 50px;
                padding: 20px;
                border-radius: 15px;
                max-width: 250px;
                background-color: #1E2E4E;
                transition: all 0.5s;
                p{
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 1.6rem;
                    margin-bottom: 15px;
                }
                span{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.3rem;
                    color: rgba(255, 255, 255, 0.7);
                    transition: all 0.5s;
                }
                span:hover{
                    color: rgba(255, 255, 255, 1);
                }
                svg{
                    width: 35px;
                    height: 35px;
                    vertical-align: middle;
                    transition: all 1s;
                }
            }
            div:hover{
                -webkit-box-shadow: 1px 6px 27px 3px rgba(23, 36, 47, 0.29);
                -moz-box-shadow: 1px 6px 27px 3px rgba(23, 36, 47, 0.29);
                box-shadow: 1px 6px 27px 3px rgba(23, 36, 47, 0.29);
                transform: translateY(-10px);
            }
        }
    }
}


//js classes
.translateArrow{
    transform:translateX(30px);
}