@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'nullstyle';


body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1280px; 
}
//nav
nav{
    padding: 15px;


    .nav-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:50px;
//logo
        .logo-image{
            width: 100px;
        }
//search-input
        #search{
            width: 300px;
            position: relative;
        }
        #search::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background-image: url("../../assets/icons/search-icon.svg"); /* Замените путь на реальный путь к изображению */
            background-size: cover;
        }
        #search-input{
            padding: 10px 15px 10px 50px;
            border: 2px solid #1E2E4E;
            border-radius: 35px;
        }
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
//select
        .nav-right{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:40px;
            
            select{
                background-color: #fff;
                position: relative;
                border: 0;
                border-bottom: 2px solid rgba($color: #1E2E4E, $alpha: 0);
                transition: all 0.5s;
                option{
                    background-color: #fff;
                }
                
            }
            select:hover{
                cursor: pointer;
                border-bottom: 2px solid rgba($color: #1E2E4E, $alpha: 1);

            }
            select:focus{
                outline: none;
            }
//username, account avatar
            .avatar{
                width: 50px;
                height: 50px;
                border: 1px solid rgba($color: #1E2E4E, $alpha: 1);
                border-radius: 35px;
            }
        }        
    }
}


